html {
	body {
		padding: 0;
		margin: 0;
		font-family: 'Open Sans', sans-serif;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 100vh;
		font-family: 'Open Sans', sans-serif;
		background-color: #eee;
	}
}

* {
	&,
	&::before,
	&::after {
		box-sizing: border-box;
		font-family: inherit;
	}
}